* {
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.type-page {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html,body{
  height: 100%;
  width:100%;
  min-width:1200px;
}
a{
  text-decoration:none;
  color:#666;
}